



/* #footer{
    height: 725px;
    width: 100%;

} */

/* @media screen and (min-width: 767px) and (max-width: 1024px) {
    #footer{
        height: 990px;
        width: 100%;
    
    }
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
    #footer{
        height: 1145px;
        width: 100%;
    
    }
}
@media screen and (min-width: 912px) and (max-width: 1368px) {
    #footer{
        height: 1330px;
        width: 100%;
        
    
    } 
}*/